{% extends 'base.html.twig' %}

{% block title %}{{ 'error.403.title'|trans }}{% endblock %}

{% block body %}
    {{ 'error.403.description'|trans }}
    <a href="{{ path('index') }}">{{ 'error.403.back_to_homepage'|trans }}</a>
{% endblock %}
