{% extends 'base.html.twig' %}

{% block title %}{{ 'error.general.title'|trans }}{% endblock %}

{% block body %}
    {{ 'error.general.description'|trans }}

    <a href="{{ path('index') }}">{{ 'error.general.back_to_homepage'|trans }}</a>
{% endblock %}
